USE [master]
GO
/****** Object:  Database [VendingNEA]    Script Date: 3/2/2026 10:52:42 ******/
CREATE DATABASE [VendingNEA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingNEA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VendingNEA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingNEA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VendingNEA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingNEA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingNEA]
GO
/****** Object:  Table [dbo].[Acuerdo]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acuerdo](
	[nro_acuerdo] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[monto_fijo] [decimal](12, 2) NULL,
	[porcentaje_comision] [int] NULL,
	[tipo_condicion_com] [varchar](30) NOT NULL,
	[id_establecimiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_acuerdo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[monto_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[id_compra] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal]  AS ([precio_unitario]*[cantidad]) PERSISTED,
 CONSTRAINT [pk_detalle_compra] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[nro_operacion] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[nro_operacion] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVisitaStock]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVisitaStock](
	[id_visita] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_maquina] [int] NOT NULL,
	[cantidad_repuso] [int] NOT NULL,
	[cantidad_retiro_vencido] [int] NOT NULL,
 CONSTRAINT [pk_detalle_visita_stock] PRIMARY KEY CLUSTERED 
(
	[id_visita] ASC,
	[id_producto] ASC,
	[id_maquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[legajo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[dni] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[fecha_ingreso] [datetime] NOT NULL,
	[tipo_empleado] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Establecimiento]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimiento](
	[id_establecimiento] [int] IDENTITY(1,1) NOT NULL,
	[nom_comercial] [varchar](150) NOT NULL,
	[cuit] [varchar](20) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_establecimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[nro_incidente] [int] IDENTITY(1,1) NOT NULL,
	[id_maquina] [int] NOT NULL,
	[legajo_empleado] [int] NOT NULL,
	[nro_visita] [int] NULL,
	[id_mantenimiento] [int] NULL,
	[descripcion] [varchar](500) NOT NULL,
	[tipo_falla] [varchar](20) NOT NULL,
	[fecha_reporte] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_incidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Liquidacion]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liquidacion](
	[nro_liqui] [int] IDENTITY(1,1) NOT NULL,
	[nro_acuerdo] [int] NOT NULL,
	[fecha_emision] [datetime] NOT NULL,
	[monto_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_liqui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MantenimientoMaquina]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientoMaquina](
	[id_mantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[nro_maquina] [int] NOT NULL,
	[legajo_tecnico] [int] NOT NULL,
	[tipo_mantenimiento] [varchar](20) NOT NULL,
	[fecha_mantenimiento] [datetime] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[costo] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquina]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquina](
	[id_maquina] [int] IDENTITY(1,1) NOT NULL,
	[nro_serie] [int] NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](100) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[estado_operativo] [varchar](20) NOT NULL,
	[fecha_instalacion] [datetime] NOT NULL,
	[ubicacion] [varchar](50) NOT NULL,
	[forma_pago] [varchar](10) NOT NULL,
	[monto_acumulado] [decimal](12, 2) NOT NULL,
	[id_establecimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[nro_liqui] [int] NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[monto_abonado] [decimal](12, 2) NOT NULL,
	[forma_pago] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_liqui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[sku] [varchar](50) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[stock_general] [int] NOT NULL,
	[categoria] [varchar](10) NOT NULL,
	[fecha_vto] [datetime] NOT NULL,
	[precio_vta] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosPorMaquina]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosPorMaquina](
	[id_maquina] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[stock_maquina] [int] NOT NULL,
 CONSTRAINT [pk_productos_por_maquina] PRIMARY KEY CLUSTERED 
(
	[id_maquina] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[cuit_prov] [varchar](20) NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responsable]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsable](
	[id_responsable] [int] IDENTITY(1,1) NOT NULL,
	[id_establecimiento] [int] NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruta](
	[id_ruta] [int] IDENTITY(1,1) NOT NULL,
	[fecha_ruta] [datetime] NOT NULL,
	[patente_veh] [varchar](10) NOT NULL,
	[legajo_repositor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[patente] [varchar](10) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[capacidad] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_ult_mant] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[nro_operacion] [int] IDENTITY(1,1) NOT NULL,
	[id_maquina] [int] NOT NULL,
	[fecha_hora] [datetime2](7) NOT NULL,
	[precio_total] [decimal](12, 2) NOT NULL,
	[monto_recibido] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visita]    Script Date: 3/2/2026 10:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visita](
	[id_visita] [int] IDENTITY(1,1) NOT NULL,
	[id_ruta] [int] NOT NULL,
	[fecha_visita] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acuerdo] ON 

INSERT [dbo].[Acuerdo] ([nro_acuerdo], [fecha_inicio], [fecha_fin], [monto_fijo], [porcentaje_comision], [tipo_condicion_com], [id_establecimiento]) VALUES (1, CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2026-01-31T00:00:00.000' AS DateTime), CAST(120000.00 AS Decimal(12, 2)), NULL, N'monto_fijo', 1)
INSERT [dbo].[Acuerdo] ([nro_acuerdo], [fecha_inicio], [fecha_fin], [monto_fijo], [porcentaje_comision], [tipo_condicion_com], [id_establecimiento]) VALUES (2, CAST(N'2024-12-15T00:00:00.000' AS DateTime), CAST(N'2026-02-07T00:00:00.000' AS DateTime), NULL, 10, N'porcentaje', 2)
INSERT [dbo].[Acuerdo] ([nro_acuerdo], [fecha_inicio], [fecha_fin], [monto_fijo], [porcentaje_comision], [tipo_condicion_com], [id_establecimiento]) VALUES (3, CAST(N'2024-12-01T00:00:00.000' AS DateTime), CAST(N'2026-01-25T00:00:00.000' AS DateTime), CAST(90000.00 AS Decimal(12, 2)), NULL, N'monto_fijo', 3)
SET IDENTITY_INSERT [dbo].[Acuerdo] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([legajo], [nombre_completo], [dni], [telefono], [email], [fecha_ingreso], [tipo_empleado]) VALUES (1, N'María González', N'32456789', N'3794123456', N'maria.gonzalez@example.com', CAST(N'2020-03-15T00:00:00.000' AS DateTime), N'repositor')
INSERT [dbo].[Empleado] ([legajo], [nombre_completo], [dni], [telefono], [email], [fecha_ingreso], [tipo_empleado]) VALUES (2, N'Juan Pérez', N'28900345', N'3794223344', N'juan.perez@example.com', CAST(N'2019-07-10T00:00:00.000' AS DateTime), N'tecnico')
INSERT [dbo].[Empleado] ([legajo], [nombre_completo], [dni], [telefono], [email], [fecha_ingreso], [tipo_empleado]) VALUES (3, N'Lucía Ramírez', N'40123456', N'3794556677', N'lucia.ramirez@example.com', CAST(N'2021-11-05T00:00:00.000' AS DateTime), N'repositor')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Establecimiento] ON 

INSERT [dbo].[Establecimiento] ([id_establecimiento], [nom_comercial], [cuit], [direccion], [tipo]) VALUES (1, N'Supermercado El Sol', N'30785412093', N'Av. Sarmiento 1250, Resistencia', N'supermercado')
INSERT [dbo].[Establecimiento] ([id_establecimiento], [nom_comercial], [cuit], [direccion], [tipo]) VALUES (2, N'Hospital Central Norte', N'30577899012', N'Av. Lavalle 2300, Resistencia', N'hospital')
INSERT [dbo].[Establecimiento] ([id_establecimiento], [nom_comercial], [cuit], [direccion], [tipo]) VALUES (3, N'Universidad del Litoral', N'30944221098', N'Guemes 1450, Corrientes', N'institucion_educativa')
SET IDENTITY_INSERT [dbo].[Establecimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Maquina] ON 

INSERT [dbo].[Maquina] ([id_maquina], [nro_serie], [marca], [modelo], [descripcion], [estado_operativo], [fecha_instalacion], [ubicacion], [forma_pago], [monto_acumulado], [id_establecimiento]) VALUES (1, 10001, N'Necta', N'Koro Prime', N'Máquina de café automática', N'operativa', CAST(N'2023-01-10T00:00:00.000' AS DateTime), N'Entrada principal', N'ambos', CAST(15200.50 AS Decimal(12, 2)), 1)
INSERT [dbo].[Maquina] ([id_maquina], [nro_serie], [marca], [modelo], [descripcion], [estado_operativo], [fecha_instalacion], [ubicacion], [forma_pago], [monto_acumulado], [id_establecimiento]) VALUES (2, 10002, N'Saeco', N'Aulika Top', N'Dispensadora de bebidas calientes', N'operativa', CAST(N'2023-02-15T00:00:00.000' AS DateTime), N'Hall', N'tarjeta', CAST(9800.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Maquina] ([id_maquina], [nro_serie], [marca], [modelo], [descripcion], [estado_operativo], [fecha_instalacion], [ubicacion], [forma_pago], [monto_acumulado], [id_establecimiento]) VALUES (3, 10003, N'CoffeCorp', N'X200', N'Máquina de café premium', N'en_mantenimiento', CAST(N'2022-11-20T00:00:00.000' AS DateTime), N'Pasillo central', N'efectivo', CAST(4500.75 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Maquina] OFF
GO
SET IDENTITY_INSERT [dbo].[Ruta] ON 

INSERT [dbo].[Ruta] ([id_ruta], [fecha_ruta], [patente_veh], [legajo_repositor]) VALUES (1, CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'AB123CD', 1)
INSERT [dbo].[Ruta] ([id_ruta], [fecha_ruta], [patente_veh], [legajo_repositor]) VALUES (2, CAST(N'2024-11-18T00:00:00.000' AS DateTime), N'AC456EF', 3)
INSERT [dbo].[Ruta] ([id_ruta], [fecha_ruta], [patente_veh], [legajo_repositor]) VALUES (3, CAST(N'2024-11-17T00:00:00.000' AS DateTime), N'AD789GH', 5)
SET IDENTITY_INSERT [dbo].[Ruta] OFF
GO
INSERT [dbo].[Vehiculo] ([patente], [modelo], [capacidad], [estado], [fecha_ult_mant]) VALUES (N'AB123CD', N'Ford Transit', 1200, N'operativo', CAST(N'2024-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Vehiculo] ([patente], [modelo], [capacidad], [estado], [fecha_ult_mant]) VALUES (N'AC456EF', N'Mercedes Sprinter', 1500, N'en_mantenimiento', CAST(N'2024-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Vehiculo] ([patente], [modelo], [capacidad], [estado], [fecha_ult_mant]) VALUES (N'AD789GH', N'Renault Master', 1400, N'operativo', CAST(N'2024-11-02T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Visita] ON 

INSERT [dbo].[Visita] ([id_visita], [id_ruta], [fecha_visita]) VALUES (1, 1, CAST(N'2025-01-03' AS Date))
INSERT [dbo].[Visita] ([id_visita], [id_ruta], [fecha_visita]) VALUES (2, 1, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[Visita] ([id_visita], [id_ruta], [fecha_visita]) VALUES (3, 1, CAST(N'2025-01-17' AS Date))
SET IDENTITY_INSERT [dbo].[Visita] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__D87608A79C7F1D24]    Script Date: 3/2/2026 10:52:42 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Establec__2CDD98977C1A72A4]    Script Date: 3/2/2026 10:52:42 ******/
ALTER TABLE [dbo].[Establecimiento] ADD UNIQUE NONCLUSTERED 
(
	[cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ux_incidente_visita]    Script Date: 3/2/2026 10:52:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_incidente_visita] ON [dbo].[Incidente]
(
	[nro_visita] ASC
)
WHERE ([nro_visita] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Maquina__AD64A16192573EE7]    Script Date: 3/2/2026 10:52:42 ******/
ALTER TABLE [dbo].[Maquina] ADD UNIQUE NONCLUSTERED 
(
	[nro_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__DDDF4BE71CE96921]    Script Date: 3/2/2026 10:52:42 ******/
ALTER TABLE [dbo].[Producto] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Proveedo__116CB496B7C27C5F]    Script Date: 3/2/2026 10:52:42 ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[cuit_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT ((0)) FOR [monto_total]
GO
ALTER TABLE [dbo].[Incidente] ADD  DEFAULT (getdate()) FOR [fecha_reporte]
GO
ALTER TABLE [dbo].[Liquidacion] ADD  DEFAULT ((0)) FOR [monto_total]
GO
ALTER TABLE [dbo].[MantenimientoMaquina] ADD  DEFAULT (getdate()) FOR [fecha_mantenimiento]
GO
ALTER TABLE [dbo].[Maquina] ADD  DEFAULT ((0)) FOR [monto_acumulado]
GO
ALTER TABLE [dbo].[Acuerdo]  WITH CHECK ADD FOREIGN KEY([id_establecimiento])
REFERENCES [dbo].[Establecimiento] ([id_establecimiento])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [fk_compra_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [fk_compra_proveedor]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [fk_detalle_compra_compra] FOREIGN KEY([id_compra])
REFERENCES [dbo].[Compra] ([id_compra])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [fk_detalle_compra_compra]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [fk_detalle_compra_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [fk_detalle_compra_producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([nro_operacion])
REFERENCES [dbo].[Venta] ([nro_operacion])
GO
ALTER TABLE [dbo].[DetalleVisitaStock]  WITH CHECK ADD  CONSTRAINT [fk_detvisita_maquina] FOREIGN KEY([id_maquina])
REFERENCES [dbo].[Maquina] ([id_maquina])
GO
ALTER TABLE [dbo].[DetalleVisitaStock] CHECK CONSTRAINT [fk_detvisita_maquina]
GO
ALTER TABLE [dbo].[DetalleVisitaStock]  WITH CHECK ADD  CONSTRAINT [fk_detvisita_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[DetalleVisitaStock] CHECK CONSTRAINT [fk_detvisita_producto]
GO
ALTER TABLE [dbo].[DetalleVisitaStock]  WITH CHECK ADD  CONSTRAINT [fk_detvisita_visita] FOREIGN KEY([id_visita])
REFERENCES [dbo].[Visita] ([id_visita])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVisitaStock] CHECK CONSTRAINT [fk_detvisita_visita]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [fk_incidente_empleado] FOREIGN KEY([legajo_empleado])
REFERENCES [dbo].[Empleado] ([legajo])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [fk_incidente_empleado]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [fk_incidente_mantenimiento] FOREIGN KEY([id_mantenimiento])
REFERENCES [dbo].[MantenimientoMaquina] ([id_mantenimiento])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [fk_incidente_mantenimiento]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [fk_incidente_maquina] FOREIGN KEY([id_maquina])
REFERENCES [dbo].[Maquina] ([id_maquina])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [fk_incidente_maquina]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [fk_incidente_visita] FOREIGN KEY([nro_visita])
REFERENCES [dbo].[Visita] ([id_visita])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [fk_incidente_visita]
GO
ALTER TABLE [dbo].[Liquidacion]  WITH CHECK ADD  CONSTRAINT [fk_liquidacion_acuerdo] FOREIGN KEY([nro_acuerdo])
REFERENCES [dbo].[Acuerdo] ([nro_acuerdo])
GO
ALTER TABLE [dbo].[Liquidacion] CHECK CONSTRAINT [fk_liquidacion_acuerdo]
GO
ALTER TABLE [dbo].[MantenimientoMaquina]  WITH CHECK ADD  CONSTRAINT [fk_mantenimiento_empleado] FOREIGN KEY([legajo_tecnico])
REFERENCES [dbo].[Empleado] ([legajo])
GO
ALTER TABLE [dbo].[MantenimientoMaquina] CHECK CONSTRAINT [fk_mantenimiento_empleado]
GO
ALTER TABLE [dbo].[MantenimientoMaquina]  WITH CHECK ADD  CONSTRAINT [fk_mantenimiento_maquina] FOREIGN KEY([nro_maquina])
REFERENCES [dbo].[Maquina] ([id_maquina])
GO
ALTER TABLE [dbo].[MantenimientoMaquina] CHECK CONSTRAINT [fk_mantenimiento_maquina]
GO
ALTER TABLE [dbo].[Maquina]  WITH CHECK ADD  CONSTRAINT [fk_maquina_establecimiento] FOREIGN KEY([id_establecimiento])
REFERENCES [dbo].[Establecimiento] ([id_establecimiento])
GO
ALTER TABLE [dbo].[Maquina] CHECK CONSTRAINT [fk_maquina_establecimiento]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [fk_pago_liquidacion] FOREIGN KEY([nro_liqui])
REFERENCES [dbo].[Liquidacion] ([nro_liqui])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [fk_pago_liquidacion]
GO
ALTER TABLE [dbo].[ProductosPorMaquina]  WITH CHECK ADD  CONSTRAINT [fk_ppm_maquina] FOREIGN KEY([id_maquina])
REFERENCES [dbo].[Maquina] ([id_maquina])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductosPorMaquina] CHECK CONSTRAINT [fk_ppm_maquina]
GO
ALTER TABLE [dbo].[ProductosPorMaquina]  WITH CHECK ADD  CONSTRAINT [fk_ppm_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductosPorMaquina] CHECK CONSTRAINT [fk_ppm_producto]
GO
ALTER TABLE [dbo].[Responsable]  WITH CHECK ADD  CONSTRAINT [fk_responsable_establecimiento] FOREIGN KEY([id_establecimiento])
REFERENCES [dbo].[Establecimiento] ([id_establecimiento])
GO
ALTER TABLE [dbo].[Responsable] CHECK CONSTRAINT [fk_responsable_establecimiento]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [fk_ruta_repositor] FOREIGN KEY([legajo_repositor])
REFERENCES [dbo].[Empleado] ([legajo])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [fk_ruta_repositor]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [fk_ruta_vehiculo] FOREIGN KEY([patente_veh])
REFERENCES [dbo].[Vehiculo] ([patente])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [fk_ruta_vehiculo]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_venta_maquina] FOREIGN KEY([id_maquina])
REFERENCES [dbo].[Maquina] ([id_maquina])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_venta_maquina]
GO
ALTER TABLE [dbo].[Visita]  WITH CHECK ADD  CONSTRAINT [FK_Visita_Ruta] FOREIGN KEY([id_ruta])
REFERENCES [dbo].[Ruta] ([id_ruta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Visita] CHECK CONSTRAINT [FK_Visita_Ruta]
GO
ALTER TABLE [dbo].[Acuerdo]  WITH CHECK ADD  CONSTRAINT [chk_condicion_comercial] CHECK  (([tipo_condicion_com]='monto_fijo' AND [monto_fijo] IS NOT NULL AND [porcentaje_comision] IS NULL OR [tipo_condicion_com]='porcentaje' AND [porcentaje_comision] IS NOT NULL AND [monto_fijo] IS NULL))
GO
ALTER TABLE [dbo].[Acuerdo] CHECK CONSTRAINT [chk_condicion_comercial]
GO
ALTER TABLE [dbo].[Acuerdo]  WITH CHECK ADD CHECK  (([porcentaje_comision]>=(1) AND [porcentaje_comision]<=(100)))
GO
ALTER TABLE [dbo].[Acuerdo]  WITH CHECK ADD CHECK  (([tipo_condicion_com]='porcentaje' OR [tipo_condicion_com]='monto_fijo'))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleVisitaStock]  WITH CHECK ADD CHECK  (([cantidad_repuso]>=(0)))
GO
ALTER TABLE [dbo].[DetalleVisitaStock]  WITH CHECK ADD CHECK  (([cantidad_retiro_vencido]>=(0)))
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [chk_dni_numerico] CHECK  ((NOT [dni] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [chk_dni_numerico]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [chk_email_formato] CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [chk_email_formato]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [chk_fecha_ingreso] CHECK  (([fecha_ingreso]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [chk_fecha_ingreso]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [chk_tipo_empleado] CHECK  (([tipo_empleado]='tecnico' OR [tipo_empleado]='repositor'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [chk_tipo_empleado]
GO
ALTER TABLE [dbo].[Establecimiento]  WITH CHECK ADD  CONSTRAINT [chk_cuit_numerico] CHECK  ((NOT [cuit] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Establecimiento] CHECK CONSTRAINT [chk_cuit_numerico]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [chk_estado_incidente] CHECK  (([estado]='resuelto' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [chk_estado_incidente]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [chk_tipo_falla] CHECK  (([tipo_falla]='software' OR [tipo_falla]='mecanica' OR [tipo_falla]='electrica'))
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [chk_tipo_falla]
GO
ALTER TABLE [dbo].[MantenimientoMaquina]  WITH CHECK ADD  CONSTRAINT [chk_tipo_mantenimiento] CHECK  (([tipo_mantenimiento]='correctivo' OR [tipo_mantenimiento]='preventivo'))
GO
ALTER TABLE [dbo].[MantenimientoMaquina] CHECK CONSTRAINT [chk_tipo_mantenimiento]
GO
ALTER TABLE [dbo].[MantenimientoMaquina]  WITH CHECK ADD CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[Maquina]  WITH CHECK ADD  CONSTRAINT [chk_estado_operativo] CHECK  (([estado_operativo]='en_mantenimiento' OR [estado_operativo]='fuera_de_servicio' OR [estado_operativo]='operativa'))
GO
ALTER TABLE [dbo].[Maquina] CHECK CONSTRAINT [chk_estado_operativo]
GO
ALTER TABLE [dbo].[Maquina]  WITH CHECK ADD  CONSTRAINT [chk_forma_pago] CHECK  (([forma_pago]='ambos' OR [forma_pago]='tarjeta' OR [forma_pago]='efectivo'))
GO
ALTER TABLE [dbo].[Maquina] CHECK CONSTRAINT [chk_forma_pago]
GO
ALTER TABLE [dbo].[Maquina]  WITH CHECK ADD  CONSTRAINT [chk_monto_acumulado] CHECK  (([monto_acumulado]>=(0)))
GO
ALTER TABLE [dbo].[Maquina] CHECK CONSTRAINT [chk_monto_acumulado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD CHECK  (([forma_pago]='transferencia' OR [forma_pago]='efectivo'))
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_categoria] CHECK  (([categoria]='higiene' OR [categoria]='bebida' OR [categoria]='snack'))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_fecha_vencimiento] CHECK  (([fecha_vto]>=getdate()))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_fecha_vencimiento]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_precio_venta] CHECK  (([precio_vta]>(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_precio_venta]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_precio_vta] CHECK  (([precio_vta]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_precio_vta]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_stock_general] CHECK  (([stock_general]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_stock_general]
GO
ALTER TABLE [dbo].[ProductosPorMaquina]  WITH CHECK ADD CHECK  (([stock_maquina]>=(0)))
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [chk_cuit_proveedor] CHECK  ((NOT [cuit_prov] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [chk_cuit_proveedor]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [chk_prov_email] CHECK  (([email] IS NULL OR [email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [chk_prov_email]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [chk_fecha_ruta] CHECK  (([fecha_ruta]<=getdate()))
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [chk_fecha_ruta]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [chk_estado_vehiculo] CHECK  (([estado]='fuera_de_servicio' OR [estado]='en_mantenimiento' OR [estado]='operativo'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [chk_estado_vehiculo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [chk_fecha_ult_mant] CHECK  (([fecha_ult_mant]<=getdate()))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [chk_fecha_ult_mant]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD CHECK  (([capacidad]>(0)))
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [chk_monto_recibido] CHECK  (([monto_recibido]>=(0)))
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [chk_monto_recibido]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [chk_monto_vs_precio] CHECK  (([monto_recibido]>=[precio_total]))
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [chk_monto_vs_precio]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [chk_precio_total] CHECK  (([precio_total]>=(0)))
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [chk_precio_total]
GO
USE [master]
GO
